

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap');



.App{
  min-height: 100vh;
  font-family: 'Bitter', serif;
  background-image: url('./background_recipe.jpg'); 

}


.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-style: italic;
  vertical-align: center;
  text-align: center;
  height: 100px;
  padding: 0.5em;
  color: olivedrab;
  background-color: white;
  font-size: 1.7em;
  margin-bottom: 2%;
}


.search-form {
  min-height: 10vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.search-line {
  margin-top:140px ;
  margin-bottom: 5px;
  width:100%;
  padding: 10px;
}

.diet-line {
  width: 100%;
  background-color: olive;
  border-radius: 3%;
  padding: 10px;
  color: white;
  font-size: 1.3em;
  margin: 5px 0;
  justify-content: right;
  text-align: center;
}

.diet-line input{
  padding-left: 8px
}

.diet-line label {
  padding-right: 8px;
}

.search-bar {
  width: 75%;
  border: none;
  padding: 10px;
  border-radius: 2%;

}

.search-button {
  background: olive;
  color: white;
  border: none;
  padding: 10px;
  width: 21%;
  border-radius: 2%;
}

.recipes {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 2%;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .header {font-size: 1.4em}
  .search-line{box-sizing: border-box; text-align: center;}
  .search-bar{width: 70%}
  .search-button{width: 18%}
  .diet-line {box-sizing: border-box; font-size: 1.1em;}

}